@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/swiper-bundle.css";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.useclass {
  background-image: linear-gradient(to right, #FB923C, #EA580C, #C2410C);
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  animation: gradient 2s infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.2;
  transform: scale(0.9);
  
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}
 .partnerslider {
  transition-timing-function: linear !important;
 }
 .usecolour {
  background-image: linear-gradient(to right, #FB923C, #EA580C, #C2410C);
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  animation: gradient 2s infinite;
}
